.side-bar{
    width: 50px;
    background:rgba(255,255,255,1);
    box-shadow:-5px 5px 27px 0px rgba(107,107,107,0.13);
    border-radius:4px;
    position: fixed;
    top: 45%;
    right: 10px;
    z-index: 100;

    label{
          font-size: 12px;
          text-align: center;
          height: 50px;
          background-color: #EE3434;
          padding: 0 10px;
          display: block;
          color: #fff;
          padding-top: 6px;
          line-height: 20px;
          letter-spacing: 2px;
          border-radius: 4px 4px 0 0;
          text-decoration: none;
        
    }

    div{
        flex: 1;
        height: 50px;
        line-height: 56px;
        text-align: center;
        border-bottom: 1px solid #E0E0E0;
        cursor: pointer;

        &:last-child{
            border: none;
            border-radius: 0 0 4px 4px;
        }
        img {
          width: 16px;
        }
    }

    
}

.tel {
  font-size: 24px;
  color: #EE3434;
  font-weight: bold;
  min-width: 100px;
  padding: 12px;
  margin-left: 20px;
}