<<<<<<< HEAD
.footer {
  width           : 100%;
  color           : #808080;
  font-size       : 12px;
  background-color: #262932;

  &-top {
    // height  : 265px;
    width      : 1200px;
    margin     : 0 auto;
    display    : flex;
    align-items: flex-start;

    .footer-section {
      justify-content: space-between;
    }
  }

  .title-line {
    width        : 30px;
    height       : 2px;
    background   : #EE3434;
    margin-bottom: 48px;
  }

  .footer-item {
    padding     : 59px 0 40px;
    border-right: 1px solid rgba(255, 255, 255, .08);
    margin-right: 30px;

    &-title {
      color        : #fff;
      font-size    : 14px;
      font-weight  : 600;
      line-height  : 1;
      margin-bottom: 25px;

      label {
        color      : #808080;
        font-size  : 14px;
        font-weight: 400;
        margin-left: 25px;
      }
    }

    &:first-child {
      width: 360px;

      .item-content {
        display    : flex;
        flex-wrap  : wrap;
        line-height: 1;

        p {
          line-height: 1;

          &:first-child {
            display    : flex;
            align-items: center;
          }


=======
.footer{
    width: 100%;
    color: #808080;
    font-size: 12px;

    &-section{
        width: 1140px;
        margin: 0 auto;
        display: flex;
    }

    &-top{
        background-color: #262932;
        height: 330px;

        .footer-section{            
            justify-content: space-between;
>>>>>>> 045c7b9211f17fb69c44c40df9fc551bbfacede4
        }
      }
    }

    &:last-child {
      width         : 410px;
      border-right  : 0;
      margin-right  : 0;
      padding-bottom: 10px;
    }

    &:nth-child(1) {

      .item-content {
        overflow: hidden;

        img {
          float: left;

          margin-right: 20px;
        }

        div {
          float      : left;
          padding-top: 116px;
        }

        p {

          line-height: 1;

          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }

    &:nth-child(2) {
      flex: 1;

      p {
        line-height  : 1.6;
        margin-bottom: 24px;

        &:first-child {
          display    : flex;
          align-items: center;
          margin-top : -4px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

<<<<<<< HEAD
    .website-nav {
      display  : flex;
      flex-wrap: wrap;
=======
    &-bottom{
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #373A42;
>>>>>>> 045c7b9211f17fb69c44c40df9fc551bbfacede4

      label {
        width      : 60px;
        margin     : 0 30px 42px 0;
        line-height: 1;
      }
    }

    .website-nav-fun {
      margin-top: 26px;

      img {
        &:first-child {
          width: 16px;
        }

        margin-right: 26px;
      }
    }

    .hot-line {
      background-image       : -webkit-linear-gradient(bottom, #ee3434, #ff8e8e);
      -webkit-background-clip: text;
      background-clip        : text;
      -webkit-text-fill-color: transparent;
      color                  : #ee3434;

      font-size  : 20px;
      font-weight: bolder;
    }
  }

  &-bottom {
    height          : 50px;
    line-height     : 50px;
    text-align      : center;
    background-color: rgba(55, 58, 66, .3);

    .footer-section {
      justify-content: center;
    }

    label {
      margin-right: 28px;
    }
  }

  .link {
    color          : inherit;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}